body {
    background-color: #9ea6a6;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    height: 430px;
    width: 600px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

/* Add this style to align the eye icon properly */
.input-group-append {
    cursor: pointer;
}

.input-group-text {
    cursor: pointer;
}